<RCC>
    <qresource prefix="/icons">
        <file>logo.ico</file>
    </qresource>

    <qresource prefix="/images">
        <file>images/logo.png</file>
        <file>images/NoIMG.png</file>
    </qresource>
</RCC>
